body {
  font-family: 'Oswald', sans-serif;;
}

/* Salvattore styles */
#grid[data-columns]::before {
    content: '4 .column.size-1of4';
}

/* These are the classes that are going to be applied: */
.column {
    float: left;
}

.size-1of4 {
    width: 25%;
}

.thumbnail.thumbnail-custom {
    border: none;
    padding: 1px;
    margin-bottom: 1px;
}

/* Bootstrap styles */

.container-fluid.container-fluid-custom {
    padding-right: 190px;
    padding-left: 270px;
}

.navbar.navbar-default.navbar-custom {
    background-color: rgba(255, 255, 255, 0.95);
    border: 0 none;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
}

.navbar-brand.navbar-brand-custom {
    padding-top: 18px;
    font-size: 25px;
    color: black;
}

.nav.navbar-nav.navbar-right.navbar-right-custom {
    margin-right: 50px;
    margin-top: 5px;
    font-size: 15px;
    font-style: black;
}

.nav.navbar-nav.navbar-right.navbar-right-custom > li > a {
    color: black;
}
